<!--
    @file: 328/pets2/views/order-summary.html
    @description: Pet ordering form results page.
    @author: Tien Han
    @version: 1.0
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--  Bootstrap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--  Custom Stylesheet  -->
    <link rel="stylesheet" href="styles/styles.css">
    <title>Confirmation Page</title>
</head>
<body>
    <div class="container text-center">
        <h1>Results Page</h1>
        <p>
            <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/regular/heart.svg" width="10" height="10">
            Thank you for ordering a {{ @SESSION.pet->getColor() }} {{ @SESSION.pet->getAnimal() }}!
            <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/regular/heart.svg" width="10" height="10">
        </p>
        <div>
            <check if="{{ get_Class(@SESSION.pet) == 'RoboticPet'}}">
                Your robotic pet has the following selected accessories:
                {{ @SESSION.pet->getAccessories() }}.
            </check>
            <check if="{{ get_Class(@SESSION.pet) == 'StuffedPet'}}">
                Your {{ @SESSION.pet->getSize() }} stuffed pet is made out of {{ @SESSION.pet->getMaterial() }} and stuffed with {{ @SESSION.pet->getStuffingType() }}.
            </check>
        </div>
    </div>

    <!--  Bootstrap CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>