<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order a Pet</title>
</head>
<body>
    <h1>Order a Pet</h1>
    <form action="#" method="post">
        <label for="pet">What kind of pet would you like to order?</label>
        <input name="pet" id="pet" type="text">
        <br>
        <label for="color">Select a color</label>
        <select name="color" id="color">
            <option value="brown">Brown</option>
            <option value="white">White</option>
            <option value="black">Black</option>
        </select>
        <br>
        <button>Place Order</button>
    </form>

</body>
</html>