/*
    @file 328/pets2/styles/styles.css
    @description: Styles for the pets2 assignment.
    @author: Tien Han
    @version:
*/

/* -------------GLOBAL STYLES------------- */
a {
    font-weight: bold;
}

h1 {
    color: #92c744;
}

#mimi-photo {
    width: 300px;
    height: auto;
    border-radius: 5%;
}